.aboutUs {
    display: flex;
    gap:1em;
    margin-bottom: 5em;
    min-width:5em;
    &__text {
      display: flex;
      flex-direction:column;
      justify-content:start;
      font-size: 1.5em;
      font-weight: bold;
      text-align: justify;
      min-width: 10em;
  p {
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }
  .images{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-between;
    &__image {
      width: 600px;
      img {
        border-radius: 2em;
        margin: 100px;
        min-width: 10em;
      }
    }
  }

  .title{
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2.5em;
  }

  .imgAbout{
    border-radius: 2em;
        min-width: 20em;
        height: 20em;
  }