@import "styles/variaveis";
@import "styles/breakpoints";

.header {
  align-items: center;
  background-image: url("/assets/headers/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-width: 39.5em;
  min-height: 5em;
  height: 20em;

  padding: 0px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 0px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $padding-horizontal-md;
  }
  &__text {
    color: white;
    font-size: 5em;
    min-width: 0.05em;
    min-height:0.05em;
    width: 20em;
    margin-left:3em ;
  }
}
